{% extends "layout.twig" %}

{% block title %}
    Install MadBans
{% endblock %}

{% block body %}
    <h1>Welcome to MadBans</h1>
    <p>Please read and fill out this simple form to install MadBans.</p>

    <h2>Database information</h2>

    <h2>Ban plugin information</h2>
{% endblock %}