{% extends "layout.twig" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h1><img src="{{ avatar_uri(player, 64) }}" height="64" width="64" alt="{{ player.name }}'s avatar"/> {{ player.name }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h2>Bans</h2>
        </div>
        <div class="col-md-5">
            <h2>Technical Information</h2>
            <ul>
                <li>UUID: <strong>{{ player.uuid }}</strong></li>
            </ul>
        </div>
    </div>
{% endblock %}